:root {
    --HeaderFooter-color: #000000;
    --HeaderFooter-textColor: #ffffff;
    --select-color: #7943A4;
    --main-color: #9D5CD0;
    --hover-color: #C283F3;
    --fresh-color: #D1A9F0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button,
input,
textarea {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'OpenSans', sans-serif;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: button;
}

.swiper-button-disabled {
    opacity: 0.4 !important;
    cursor: auto !important;
}

.swiper-button-disabled:hover {
    background-color: #666666 !important;
}

.container {
    max-width: 1620px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    position: relative;
    min-width: 320px;
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;
}

body {
    line-height: 1;
    font-family: 'OpenSans', sans-serif;
}

div {
    padding: 0;
    margin: 0;
    border: 0;
}

.themeName {
    margin: 0;
    margin-bottom: 28px;
    font-size: 48px;
    font-weight: 400;
}

@media screen and (max-width: 1500px) {
    .container {
        padding-left: 45px;
        padding-right: 45px;
    }
    .themeName {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .themeName {
        font-size: 28px;
        margin-bottom: 18px;
    }
}