/* projects  */

.projects {
    padding-top: 88px;
}

.projects__name {
    padding-left: 1px;
    margin-bottom: 26px;
}

.projects__txt {
    margin-bottom: 24px;
    padding-left: 4px;
    width: 66%;
    font-size: 16px;
    line-height: 32px;
}


/* projects tooltip  */

.projects__tooltip {
    cursor: help;
    font-size: 15px;
    color: var(--main-color);
    font-weight: 700;
    padding: 0 8px;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    position: relative;
    transition: background-color 0.5s ease;
}

.projects__tooltip:hover {
    color: white;
    background-color: var(--main-color);
}

.projects__tooltip::before {
    content: '';
    margin-top: -3px;
    margin-left: -6px;
    border: 8px solid transparent;
    border-top: 8px solid #cacaca;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility, opacity .4s ease-in-out;
    -o-transition: visibility, opacity .4s ease-in-out;
    transition: visibility, opacity .4s ease-in-out;
}

.projects__tooltip::after {
    background: #cacaca;
    line-height: 16px;
    text-align: center;
    color: #fff;
    content: attr(data-tooltip);
    bottom: 28px;
    right: -125px;
    opacity: 0;
    padding: 8px;
    width: 100vw;
    max-width: 264px;
    position: absolute;
    visibility: hidden;
    -webkit-transition: visibility, opacity .4s ease-in-out;
    -o-transition: visibility, opacity .4s ease-in-out;
    transition: visibility, opacity .4s ease-in-out;
}

.projects__tooltip:hover::after,
.projects__tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}


/* projects tooltip end  */

.projects__slider-title {
    padding-left: 2px;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}


/* project slider  */

.projects__slider {
    width: 100%;
    position: relative;
    z-index: 2;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 78px;
    padding-right: 74px;
}

.projects__container {
    margin-top: 14px;
    max-width: 1450px;
    overflow: hidden;
}

.projects__container .swiper-slide {
    width: 100%;
    height: 100%;
}

.projects__img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.4;
    transition: opacity, filter 1s ease;
}

.projects__img:hover {
    opacity: 1;
    filter: grayscale(0);
}

.projects__img:active {
    opacity: 1;
    filter: grayscale(0);
    border: 1px solid blue;
}

.projects__btn-next,
.projects__btn-prev {
    top: 47%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ECECEC;
    color: black;
    transition: background-color .5s ease;
}

.projects__btn-next:hover,
.projects__btn-prev:hover {
    background-color: var(--fresh-color);
}

.projects__btn-next:focus,
.projects__btn-prev:focus {
    outline: none;
    border: 1px solid var(--fresh-color);
}

.projects__btn-next:active,
.projects__btn-prev:active {
    background-color: var(--fresh-color);
    border: 1px solid var(--select-color);
}

.projects__btn-next:after,
.projects__btn-prev:after {
    font-size: 10px;
}

.projects__btn-next,
.swiper-container-rtl .projects__btn-prev {
    right: 5px;
    left: auto;
}

.projects__btn-prev,
.swiper-container-rtl .projects__btn-next {
    left: 5px;
    right: auto;
}

@media screen and (max-width: 1300px) {
    .projects__name {
        margin-bottom: 24px;
    }
    .projects__txt {
        margin-bottom: 20px;
        padding-left: 4px;
        width: 100%;
    }
    .projects__tooltip::after {
        max-width: 218px;
        font-size: 14px;
        right: -60px;
    }
    .projects__slider {
        padding-left: 59px;
        padding-right: 59px;
    }
    .projects__img {
        width: 100%;
        height: 100%;
    }
    .projects__btn-next,
    .projects__btn-prev {
        top: 42%;
    }
}

@media screen and (max-width: 800px) {
    .projects {
        padding-top: 89px;
    }
    .projects__txt {
        padding-right: 10px;
        margin-bottom: 26px;
        width: 92%;
    }
    .projects__btn-next,
    .projects__btn-prev {
        top: 37%;
    }
    .projects__slider {
        margin-top: 16px;
    }
    .projects__img {
        height: 106px;
    }
}

@media screen and (max-width: 630px) {
    .projects {
        padding-top: 54px;
    }
    .projects .container {
        padding-left: 10px;
    }
    .projects__name {
        margin-bottom: 17px;
    }
    .projects__txt {
        margin-bottom: 10px;
        width: 100%;
    }
    .projects__tooltip::after {
        right: -40px;
    }
    .projects__slider-title {
        padding-left: 5px;
        font-size: 18px;
    }
    .projects__slider {
        height: 95px;
        margin-top: 0;
        padding-left: 53px;
        padding-right: 50px;
    }
    .projects__btn-next,
    .projects__btn-prev {
        top: 53%;
    }
    .projects__img {
        width: 100%;
        height: 100%;
    }
}