    .gallery {
        width: 100%;
        padding-bottom: 64px;
        background: url(../img/gallery-back.jpg) no-repeat;
        background-size: cover;
    }
    
    .gallery__main {
        display: flex;
    }
    
    .gallery__left {
        display: flex;
        flex-direction: column;
        width: 36%;
        margin-right: 40px;
    }
    
    .gallery__name {
        padding-top: 90px;
        color: white;
    }
    
    .gallery__filter {
        padding-top: 2px;
        padding-left: 4px;
        margin-bottom: 474px;
        font-size: 17px;
        color: white;
    }
    
    .gallery__menu {
        padding-top: 15px;
        padding-left: 0px;
    }
    
    .gallery__select {
        background-color: transparent !important;
    }
    /* gallery-select  */
    
    .choices__list--single {
        padding: 4px 16px 4px 7px;
    }
    
    .choices__list--single .choices__item {
        font-size: 16px;
    }
    
    .choices__list--dropdown,
    .choices__inner,
    .is-focused .choices__inner,
    .is-open .choices__inner {
        border-radius: 10px;
    }
    
    .choices__inner,
    .choices__list--dropdown,
    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .is-focused .choices__inner,
    .is-open .choices__inner {
        background-color: transparent;
        max-width: 398px;
        min-height: 26px;
        font-size: 14px;
        transition: background-color 0.5s ease;
    }
    
    .choices.is-focused .choices__inner {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .choices:hover .choices__inner {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .choices__placeholder {
        opacity: 1;
    }
    
    .choices__list--dropdown .choices__item:not(:last-child) {
        border-bottom: 1px solid white;
    }
    
    .choices[data-type*=select-one]:after {
        right: 29.5px;
        top: 50%;
        width: 7.07px;
        height: 7.07px;
        border: 1px solid #FFFFFF;
        border-top: transparent;
        border-left: transparent;
        box-sizing: border-box;
        transform: rotate(45deg);
    }
    
    .choices[data-type*=select-one].is-open:after {
        top: 70%;
        width: 7.07px;
        height: 7.07px;
        border: 1px solid #FFFFFF;
        border-right: transparent;
        border-bottom: transparent;
        box-sizing: border-box;
        transform: rotate(45deg);
    }
    /* gallery-select end  */
    
    .gallery__text {
        width: 85%;
        padding-top: 83px;
        padding-left: 2px;
        font-weight: 600;
        font-size: 16px;
        line-height: 33px;
        color: white;
    }
    
    .gallery__text-link {
        color: var(--main-color);
    }
    
    .gallery__text-768 {
        display: none;
    }
    
    .gallery__right {
        width: 100%;
        position: relative;
        height: 930px;
        overflow: hidden;
        padding-top: 81px;
    }
    
    .gallery__navigation {
        display: flex;
        padding-top: 26px;
        padding-left: 2px;
        margin-bottom: 28px;
    }
    
    .gallery__btn-prev,
    .gallery__btn-next {
        top: 1%;
        left: 2%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #666666;
        color: black;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.5s ease;
    }
    
    .gallery__btn-prev:hover,
    .gallery__btn-next:hover {
        background-color: var(--main-color);
    }
    
    .gallery__btn-prev:focus,
    .gallery__btn-next:focus {
        outline: none;
        border: 1px solid var(--select-color);
    }
    
    .gallery__btn-prev:active,
    .gallery__btn-next:active {
        background-color: var(--select-color);
        outline: none;
    }
    
    .gallery__btn-next:after,
    .gallery__btn-prev:after {
        font-family: swiper-icons;
        font-size: 10px;
        text-transform: none!important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
    }
    
    .gallery__btn-prev:after,
    .swiper-container-rtl .gallery__btn-next:after {
        content: 'prev';
    }
    
    .gallery__btn-next:after,
    .swiper-container-rtl .gallery__btn-prev:after {
        content: 'next';
    }
    
    .gallery__pagination {
        max-width: 71px;
        padding-top: 7px;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        color: white;
    }
    /* swiper-gallery */
    
    .swiper-container1 {
        height: 100%;
        overflow: hidden;
    }
    
    .swiper-slide2 {
        position: relative;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        background: transparent;
        cursor: pointer;
        border: none;
    }
    
    .swiper-slide2::after {
        position: absolute;
        display: block;
        width: 80%;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url('../img/loop-gall.svg');
        background-position: center;
        background-repeat: no-repeat;
        transition: content .4s ease;
    }
    
    .swiper-slide2:hover::after {
        content: '';
    }
    
    .swiper__img {
        width: 98%;
        height: 98%;
    }
    
    .swiper-slide2::before {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(194, 131, 243, 0.4);
    }
    
    .swiper-slide2:active::before {
        content: '';
    }
    
    .swiper2-slide-custom::after {
        position: absolute;
        display: block;
        width: 80%;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url('../img/loop-gall.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .swiper2-slide-custom:hover::after {
        content: '';
    }
    
    .gallery__hide-content {
        display: none;
    }
    
    .modal-content .gallery__hide-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .gallery__hide-content__title {
        margin-bottom: 20px;
    }
    
    .gallery__hide-content__subtitle {
        margin-bottom: 20px;
    }
    
    .modal-content {
        display: flex;
    }
    
    .modal-content .swiper-img {
        margin-right: 20px;
    }
    
    .gallery__filter-bottomMob {
        display: none;
    }
    
    .is-selected {
        display: none;
    }
    
    @media screen and (max-width: 1500px) {
        .gallery {
            padding-bottom: 15px;
        }
        .gallery__left {
            width: 48%;
            margin-right: 48px;
        }
        .choices[data-type*=select-one],
        .choices__inner,
        .choices__list--dropdown,
        .choices__list--dropdown .choices__item--selectable.is-highlighted,
        .is-focused .choices__inner,
        .is-open .choices__inner {
            max-width: 282px;
        }
        .choices[data-type*=select-one]:after {
            right: 6%;
        }
        .swiper-slide {
            height: calc((100% - 196px) / 2);
        }
        .gallery__main {
            padding-bottom: 0;
        }
        .gallery__filter {
            padding-top: 8px;
            margin-bottom: 286px;
        }
        .gallery__text {
            width: 100%;
            padding-left: 4px;
            padding-top: 81px;
            line-height: 32px;
        }
        .gallery__right {
            height: 824px;
        }
        .swiper-container1 {
            padding-top: 0;
        }
        .swiper-container1 .swiper-wrapper {
            height: 757px;
        }
        .swiper__img {
            width: 98%;
            height: 100%;
        }
        .gallery__navigation {
            padding-left: 0;
        }
    }
    
    @media screen and (max-width: 900px) {
        .gallery__main {
            flex-direction: column;
            padding-bottom: 70px;
        }
        .gallery__filter {
            margin-bottom: 5px;
        }
        .gallery__text {
            display: none;
        }
        .gallery__text-768 {
            display: block;
            margin: 0;
            padding-left: 6px;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: white;
        }
        .gallery__right {
            height: 930px;
            padding-top: 114px;
        }
        .gallery__navigation {
            padding-left: 4px;
            padding-top: 22px;
        }
        .swiper-container1 {
            padding-left: 4px;
        }
        .swiper-slide {
            height: calc((100% - 68px) / 2);
        }
    }
    
    @media screen and (max-width: 768px) {
        .gallery {
            padding-bottom: 2px;
        }
        .gallery__right {
            padding-top: 81px;
            height: 787px;
        }
        .swiper-container1 .swiper-wrapper {
            height: 626px;
        }
    }
    
    @media screen and (max-width: 550px) {
        .gallery .container {
            padding-left: 13px;
        }
        .gallery__left {
            width: 100%;
            margin-right: 0;
            margin-bottom: 61px;
        }
        .gallery__filter {
            padding-top: 6px;
            padding-left: 2px;
        }
        .gallery__name {
            padding-top: 56px;
        }
        .gallery__main {
            flex-direction: column;
            padding-bottom: 67px;
        }
        .choices[data-type*=select-one],
        .choices__inner,
        .choices__list--dropdown,
        .choices__list--dropdown .choices__item--selectable.is-highlighted,
        .is-focused .choices__inner,
        .is-open .choices__inner {
            max-width: 290px;
        }
        .choices__list--single {
            padding-top: 0;
        }
        .gallery__text-768 {
            display: block;
            margin: 0;
            padding: 0;
            padding-left: 2px;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
        }
        .gallery__right {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            height: 491px;
            padding-top: auto;
            padding-top: 33px;
        }
        .gallery__navigation {
            padding-top: 20px;
            margin-bottom: 22px;
            padding-left: auto;
            width: fit-content;
        }
        .swiper-container1 {
            padding-top: 0;
            padding-left: auto;
            width: 100%;
            height: 79%;
        }
        .swiper-container1 .swiper-wrapper {
            height: 368px;
        }
        .gallery__btn-prev,
        .gallery__btn-next {
            width: 45px;
        }
        .swiper-slide2 {
            height: 100%;
            justify-content: unset;
        }
        .swiper__img {
            width: 100%;
        }
    }