.banner {
    width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 122px;
    padding-top: 243px;
    overflow: hidden;
}

.banner__slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner__slider .swiper-slide {
    width: 100% !important;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__slide-one {
    background-image: url(../img/hero-img1.jpg);
}

.banner__slide-two {
    background-image: url(../img/hero-img2.jpg);
}

.banner__slide-three {
    background-image: url(../img/hero-img3.jpg);
}

.swiper-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.banner__info {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 579px;
    color: white;
}

.banner__name {
    font-size: 70px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 21px;
}

.banner__text {
    margin-bottom: 92px;
    padding-left: 2px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}

.banner__btn {
    position: relative;
    padding: 26px 35px;
    max-width: 314px;
    background-color: var(--main-color);
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    outline: none;
}

.banner__btn:hover::before {
    opacity: 1;
    left: -2px;
    top: -2px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border: 2px solid #D1A9F0;
}

.banner__btn:before {
    opacity: 0;
    position: absolute;
    content: '';
    box-sizing: unset;
    left: -7px;
    top: -7px;
    width: 100%;
    height: 100%;
    padding-top: 6px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 4px;
    border: 2px solid #C283F3;
    border-radius: 100px;
    transition: border, opacity .4s ease-in-out;
}

.banner__btn:focus::before {
    opacity: 1;
}

.banner__btn:hover {
    outline: none;
}

.banner__btn:active {
    background-color: var(--select-color);
}

@media screen and (max-width: 1500px) {
    .banner {
        padding-bottom: 116px;
        padding-top: 215px;
    }
    .banner__slide-one {
        background-image: url(../img/hero-img1-1024.jpg);
    }
    .banner__slide-two {
        background-image: url(../img/hero-img2-1024.jpg);
    }
    .banner__slide-three {
        background-image: url(../img/hero-img3-1024.jpg);
    }
    .banner__info {
        max-width: 664px;
    }
    .banner__name {
        max-width: 600px;
        margin-bottom: 10px;
    }
    .banner__text {
        margin-top: 0;
        margin-bottom: 134px;
    }
    .banner__btn {
        padding: 24px;
        padding-left: 26px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 660px) {
    .banner__name {
        font-size: 44px;
    }
    .banner__text {
        margin-bottom: 64px;
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .banner {
        padding-bottom: 44px;
        padding-top: 78px;
    }
    .banner__info {
        align-items: center;
    }
    .banner__name {
        width: 85vw;
        margin-bottom: 12px;
        text-align: center;
        font-size: 31px;
        line-height: 38px;
    }
    .banner__text {
        max-width: 264px;
        padding-left: 3px;
        margin-bottom: 40px;
        letter-spacing: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
    .banner__btn {
        padding: 14px 18px;
        max-width: 200px;
        font-size: 12px;
        margin-left: 2px;
    }
}